<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ActiveDir.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.windows.forms jitDebugging="true" />
    <userSettings>
        <ActiveDir.Properties.Settings>
            <setting name="mailTo" serializeAs="String">
                <value />
            </setting>
            <setting name="mailFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="mailServer" serializeAs="String">
                <value />
            </setting>
            <setting name="mailCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="folderServerFQDN" serializeAs="String">
                <value />
            </setting>
            <setting name="userPasswordLength" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="fullFolderPathAD" serializeAs="String">
                <value />
            </setting>
            <setting name="fullFolderPathGPO" serializeAs="String">
                <value />
            </setting>
            <setting name="fullUserPathAD" serializeAs="String">
                <value />
            </setting>
            <setting name="currentDomain" serializeAs="String">
                <value />
            </setting>
        </ActiveDir.Properties.Settings>
    </userSettings>
</configuration>